body { padding: 20px; }

.main {
    margin-left: auto;
    margin-right: auto;
    width: 875px;
}

.expression {
    text-align: center;
    padding: 30px;
    font-size: 25pt;
    font-weight: bold;
}

img { background-color: black; }

input {
    width: 15px;
};
